<!DOCTYPE html>
<html>

<head>
  <!-- <link rel="shortcut icon" href="/static/favicons/<%= process.env.APP_ID %>/favicon.ico"> -->
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= process.env.APP_NAME %></title>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
  <div id="app"></div>
</body>

</html>