// index-images
$header: url('../images/dashboard/header.png') !default;
$menu: url('../images/dashboard/menu.png') !default;
$left: url('../images/dashboard/left-border.png') !default;
$middle: url('../images/dashboard/middle-border.png') !default;
$option_btn: url('../images/dashboard/btn.png') !default;
$right: url('../images/dashboard/right-border.png') !default;